{% extends "base.html" %}

{% block content %}

<div class="product">
    {% for item in data %}
    <div class="col">
        <div class="card h-100">
            <img src="{{url_for('static', filename=item.image.path) }}" class="card-img-top"
                 alt="Фотография позиции ;)">
            <div class="card-body">
                <h5 class="card-title"> {{ item.title }} </h5>
                <p class="card-text"> {{ item.description }} </p>
                <p class="card-text"> {{ item.structure }}
                    <button onclick="window.location.href='/add-to-basket/{{ item.id }}'" class="btn">
                        Добавить в корзину
                    </button>
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ item.price }}</small>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}