{% extends "base.html" %}

{% block content %}
<form action="" method="post" id="loginForm">
    <h1 style="margin: 1.5rem; display: flex;">Авторизация</h1>
    {{ form.hidden_tag() }}
    <p>
        {{ form.phone_number.label }}<br>
        {{ form.phone_number(class="form-control") }}<br>
        {% for error in form.phone_number.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
    <!--<a href="#" id="changePasswordBtn">Забыли пароль</a>-->
</form>
{% endblock %}