{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Оформление заказа</h2>
    <h3>{{ error }}</h3>
    <table class="table">
        <tbody>
        {% for item in data %}
        <tr>
            <td><img class="img-thumbnail" src="{{url_for('static', filename=item.item.image.path)}}"></td>
            <td><b>{{ item['item'].title }}</b></td>
            <td><strong>{{ item['item'].price }}</strong><br><small>Количество: {{ item['qnt'] }}</small></td>

        </tr>
        {% endfor %}
        <tr>
            <td>Общая сумма</td>
            <td></td>
            <td></td>
            <td>{{ total_price }}</td>
        </tr>
        </tbody>
    </table>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="address">Адрес</label>
            {{ form.address(class="form-control", id="address", required=True) }}
        </div>
        <div class="form-group">
            <label for="email">Ваш e-mail</label>
            {{ form.email(class="form-control", id="email", required=True) }}
        </div>
        <div class="form-group">
            <label for="type_of_paid">Тип оплаты</label>
            {{ form.type_of_paid(class="form-control", id="type", required=True) }}
        </div>
        <div class="form-group">
            <label for="phone_number">Ваш номер телефона</label>
            {{ form.phone_number(class="form-control", id="phone_number", required=True) }}
        </div>
        <br>
        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% endblock %}
